<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'formatos_eps/css/style.css' %}">
</head>
<body>
    <div class="container">
        <form action="{% url 'formatos_eps:search_results' %}" method="get">
            <h2>Buscar por Cédula</h2>
            <input type="text" name="cedula" placeholder="Cédula" required>
            <button type="submit">Buscar</button>
        </form>
    </div>
</body>
</html>